In [1]:
# dependencies
import pandas as pd

Cleaning Data

Clean Salary Data

In [2]:
# read in salary csv
salary_df=pd.read_csv("raw-data/player_salary.csv")
salary_df

     Unnamed: 0          Player   Tm  season17_18
0             1   Stephen Curry  GSW   34682550.0
1             2    LeBron James  CLE   33285709.0
2             3    Paul Millsap  DEN   31269231.0
3             4  Gordon Hayward  BOS   29727900.0
4             5   Blake Griffin  DET   29512900.0
..          ...             ...  ...          ...
568         569      Quinn Cook  NOP      25000.0
569         570   Chris Johnson  HOU      25000.0
570         571      Beno Udrih  DET      25000.0
571         572   Joel Bolomboy  MIL      22248.0
572         573    Jarell Eddie  CHI      17224.0

[573 rows x 4 columns]

In [3]:
# check data types
salary_df.dtypes

Unnamed: 0       int64
Player          object
Tm              object
season17_18    float64
dtype: object

In [4]:
# drop null values
salary_df.dropna(inplace=True)

In [5]:
# drop Unnamed:0 & Tm columns
salary_columns = ["Player","season17_18"]
salary_clean_df = salary_df[salary_columns].copy()
salary_clean_df

             Player  season17_18
0     Stephen Curry   34682550.0
1      LeBron James   33285709.0
2      Paul Millsap   31269231.0
3    Gordon Hayward   29727900.0
4     Blake Griffin   29512900.0
..              ...          ...
568      Quinn Cook      25000.0
569   Chris Johnson      25000.0
570      Beno Udrih      25000.0
571   Joel Bolomboy      22248.0
572    Jarell Eddie      17224.0

[573 rows x 2 columns]

In [6]:
# rename columns
salary_final_df = salary_clean_df.rename(columns={"Player": "player_name",
                                                  "season17_18": "salary"
                                                 })
salary_final_df

        player_name      salary
0     Stephen Curry  34682550.0
1      LeBron James  33285709.0
2      Paul Millsap  31269231.0
3    Gordon Hayward  29727900.0
4     Blake Griffin  29512900.0
..              ...         ...
568      Quinn Cook     25000.0
569   Chris Johnson     25000.0
570      Beno Udrih     25000.0
571   Joel Bolomboy     22248.0
572    Jarell Eddie     17224.0

[573 rows x 2 columns]

In [7]:
# drop duplicate salaries - traded in season players
salary_final_df.drop_duplicates(subset=['player_name'])

         player_name      salary
0      Stephen Curry  34682550.0
1       LeBron James  33285709.0
2       Paul Millsap  31269231.0
3     Gordon Hayward  29727900.0
4      Blake Griffin  29512900.0
..               ...         ...
564    Jameel Warney     46080.0
565  Marcus Thornton     46080.0
567     Axel Toupane     25000.0
569    Chris Johnson     25000.0
570       Beno Udrih     25000.0

[535 rows x 2 columns]

In [8]:
# export clean salary csv
salary_final_df.to_csv("clean-data/salary_clean.csv",index=True, header = True)

Clean Stats Data

In [9]:
# read in stats csv
stats_df = pd.read_csv("raw-data/player_stats.csv")
stats_df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Alex Abrines/abrinal01,SG,24,OKC,75,8,1134,115,291,...,0.848,26,88,114,28,38,8,25,124,353
1,2,Quincy Acy/acyqu01,PF,27,BRK,70,8,1359,130,365,...,0.817,40,217,257,57,33,29,60,149,411
2,3,Steven Adams/adamsst01,C,24,OKC,76,76,2487,448,712,...,0.559,384,301,685,88,92,78,128,215,1056
3,4,Bam Adebayo/adebaba01,C,20,MIA,69,19,1368,174,340,...,0.721,118,263,381,101,32,41,66,138,477
4,5,Arron Afflalo/afflaar01,SG,32,ORL,53,3,682,65,162,...,0.846,4,62,66,30,4,9,21,56,179
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
659,537,Tyler Zeller/zellety01,C,28,BRK,42,33,703,125,229,...,0.667,63,131,194,28,8,21,35,78,300
660,537,Tyler Zeller/zellety01,C,28,MIL,24,1,406,62,105,...,0.895,47,64,111,19,7,14,12,48,141
661,538,Paul Zipser/zipsepa01,SF,23,CHI,54,12,824,81,234,...,0.760,13,118,131,46,20,15,43,86,218
662,539,Ante Zizic/zizican01,C,21,CLE,32,2,214,49,67,...,0.724,24,36,60,5,2,13,11,30,119
663,540,Ivica Zubac/zubaciv01,C,20,LAL,43,0,410,61,122,...,0.765,45,78,123,25,8,15,26,47,161

In [10]:
# check data types
stats_df.dtypes

Rk          int64
Player     object
Pos        object
Age         int64
Tm         object
G           int64
GS          int64
MP          int64
FG          int64
FGA         int64
FG%       float64
3P          int64
3PA         int64
3P%       float64
2P          int64
2PA         int64
2P%       float64
eFG%      float64
FT          int64
FTA         int64
FT%       float64
ORB         int64
DRB         int64
TRB         int64
AST         int64
STL         int64
BLK         int64
TOV         int64
PF          int64
PTS         int64
dtype: object

In [11]:
# drop null columns 
stats_df.dropna(inplace=True)

In [12]:
# split player name column 
stats_df[['player_name','player_name2']]=stats_df['Player'].str.split("/",expand=True)
stats_df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,player_name,player_name2
0,1,Alex Abrines/abrinal01,SG,24,OKC,75,8,1134,115,291,...,88,114,28,38,8,25,124,353,Alex Abrines,abrinal01
1,2,Quincy Acy/acyqu01,PF,27,BRK,70,8,1359,130,365,...,217,257,57,33,29,60,149,411,Quincy Acy,acyqu01
2,3,Steven Adams/adamsst01,C,24,OKC,76,76,2487,448,712,...,301,685,88,92,78,128,215,1056,Steven Adams,adamsst01
3,4,Bam Adebayo/adebaba01,C,20,MIA,69,19,1368,174,340,...,263,381,101,32,41,66,138,477,Bam Adebayo,adebaba01
4,5,Arron Afflalo/afflaar01,SG,32,ORL,53,3,682,65,162,...,62,66,30,4,9,21,56,179,Arron Afflalo,afflaar01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,537,Tyler Zeller/zellety01,C,28,TOT,66,34,1109,187,334,...,195,305,47,15,35,47,126,441,Tyler Zeller,zellety01
659,537,Tyler Zeller/zellety01,C,28,BRK,42,33,703,125,229,...,131,194,28,8,21,35,78,300,Tyler Zeller,zellety01
660,537,Tyler Zeller/zellety01,C,28,MIL,24,1,406,62,105,...,64,111,19,7,14,12,48,141,Tyler Zeller,zellety01
661,538,Paul Zipser/zipsepa01,SF,23,CHI,54,12,824,81,234,...,118,131,46,20,15,43,86,218,Paul Zipser,zipsepa01
663,540,Ivica Zubac/zubaciv01,C,20,LAL,43,0,410,61,122,...,78,123,25,8,15,26,47,161,Ivica Zubac,zubaciv01

In [13]:
# select only necessary columns
stats_columns = ["player_name","Pos","Age", "Tm","G","MP","FG%","3P%","2P%","eFG%","FT%","TRB","AST","STL","BLK","PTS"]
stats_clean_df = stats_df[stats_columns].copy()
stats_clean_df

,player_name,Pos,Age,Tm,G,MP,FG%,3P%,2P%,eFG%,FT%,TRB,AST,STL,BLK,PTS
0,Alex Abrines,SG,24,OKC,75,1134,0.395,0.380,0.443,0.540,0.848,114,28,38,8,353
1,Quincy Acy,PF,27,BRK,70,1359,0.356,0.349,0.384,0.496,0.817,257,57,33,29,411
2,Steven Adams,C,24,OKC,76,2487,0.629,0.000,0.631,0.629,0.559,685,88,92,78,1056
3,Bam Adebayo,C,20,MIA,69,1368,0.512,0.000,0.523,0.512,0.721,381,101,32,41,477
4,Arron Afflalo,SG,32,ORL,53,682,0.401,0.386,0.413,0.485,0.846,66,30,4,9,179
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,Tyler Zeller,C,28,TOT,66,1109,0.560,0.357,0.578,0.575,0.722,305,47,15,35,441
659,Tyler Zeller,C,28,BRK,42,703,0.546,0.385,0.567,0.568,0.667,194,28,8,21,300
660,Tyler Zeller,C,28,MIL,24,406,0.590,0.000,0.602,0.590,0.895,111,19,7,14,141
661,Paul Zipser,SF,23,CHI,54,824,0.346,0.336,0.355,0.425,0.760,131,46,20,15,218
663,Ivica Zubac,C,20,LAL,43,410,0.500,0.000,0.504,0.500,0.765,123,25,8,15,161

In [14]:
# remove duplicate players
stats_grouped = stats_clean_df.groupby(['player_name'])
stats_final_df = stats_grouped.mean()
stats_final_df

,Age,G,MP,FG%,3P%,2P%,eFG%,FT%,TRB,AST,STL,BLK,PTS
player_name,,,,,,,,,,,,,
Aaron Brooks,33.0,32.0,189.0,0.406,0.355,0.447,0.486,0.727,17.0,20.0,6.0,0.0,75.0
Aaron Gordon,22.0,58.0,1909.0,0.434,0.336,0.497,0.500,0.698,457.0,136.0,59.0,45.0,1022.0
Aaron Harrison,23.0,9.0,233.0,0.275,0.209,0.385,0.341,0.765,24.0,11.0,9.0,2.0,60.0
Aaron Jackson,31.0,1.0,35.0,0.333,0.250,0.400,0.389,0.500,3.0,1.0,0.0,0.0,8.0
Abdel Nader,24.0,48.0,522.0,0.336,0.354,0.321,0.413,0.590,71.0,26.0,15.0,10.0,146.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zach Collins,20.0,66.0,1045.0,0.398,0.310,0.455,0.458,0.643,221.0,52.0,17.0,31.0,292.0
Zach LaVine,22.0,24.0,656.0,0.383,0.341,0.405,0.442,0.813,94.0,72.0,24.0,4.0,401.0
Zach Randolph,36.0,59.0,1508.0,0.473,0.347,0.503,0.507,0.785,397.0,127.0,42.0,10.0,857.0
Zaza Pachulia,33.0,69.0,972.0,0.564,0.000,0.567,0.564,0.806,321.0,109.0,38.0,17.0,373.0
Zhou Qi,22.0,18.0,124.0,0.188,0.105,0.308,0.219,0.667,22.0,2.0,2.0,14.0,22.0

In [15]:
# rename columns
stats_final_df = stats_final_df.rename(columns={
                                                  "Age":"age",
                                                  "G":"games_played",
                                                  "MP": "minutes_played",
                                                  "FG%": "field_goal_percent",
                                                  "3P%": "three_point_percent",
                                                  "2P%": "two_point_percent",
                                                  "FT%":"free_throw_percent",
                                                  "eFG%":"effective_field_goal",
                                                  "TRB": "total_rebounds",
                                                  "AST": "assist",
                                                  "STL": "steal",
                                                  "BLK": "blocking",
                                                  "PTS": "points"
                                                 })
stats_final_df

,age,games_played,minutes_played,field_goal_percent,three_point_percent,two_point_percent,effective_field_goal,free_throw_percent,total_rebounds,assist,steal,blocking,points
player_name,,,,,,,,,,,,,
Aaron Brooks,33.0,32.0,189.0,0.406,0.355,0.447,0.486,0.727,17.0,20.0,6.0,0.0,75.0
Aaron Gordon,22.0,58.0,1909.0,0.434,0.336,0.497,0.500,0.698,457.0,136.0,59.0,45.0,1022.0
Aaron Harrison,23.0,9.0,233.0,0.275,0.209,0.385,0.341,0.765,24.0,11.0,9.0,2.0,60.0
Aaron Jackson,31.0,1.0,35.0,0.333,0.250,0.400,0.389,0.500,3.0,1.0,0.0,0.0,8.0
Abdel Nader,24.0,48.0,522.0,0.336,0.354,0.321,0.413,0.590,71.0,26.0,15.0,10.0,146.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zach Collins,20.0,66.0,1045.0,0.398,0.310,0.455,0.458,0.643,221.0,52.0,17.0,31.0,292.0
Zach LaVine,22.0,24.0,656.0,0.383,0.341,0.405,0.442,0.813,94.0,72.0,24.0,4.0,401.0
Zach Randolph,36.0,59.0,1508.0,0.473,0.347,0.503,0.507,0.785,397.0,127.0,42.0,10.0,857.0
Zaza Pachulia,33.0,69.0,972.0,0.564,0.000,0.567,0.564,0.806,321.0,109.0,38.0,17.0,373.0
Zhou Qi,22.0,18.0,124.0,0.188,0.105,0.308,0.219,0.667,22.0,2.0,2.0,14.0,22.0

In [16]:
# round to two decimal places
stats_final_df.round(2)

,age,games_played,minutes_played,field_goal_percent,three_point_percent,two_point_percent,effective_field_goal,free_throw_percent,total_rebounds,assist,steal,blocking,points
player_name,,,,,,,,,,,,,
Aaron Brooks,33.0,32.0,189.0,0.41,0.36,0.45,0.49,0.73,17.0,20.0,6.0,0.0,75.0
Aaron Gordon,22.0,58.0,1909.0,0.43,0.34,0.50,0.50,0.70,457.0,136.0,59.0,45.0,1022.0
Aaron Harrison,23.0,9.0,233.0,0.28,0.21,0.38,0.34,0.76,24.0,11.0,9.0,2.0,60.0
Aaron Jackson,31.0,1.0,35.0,0.33,0.25,0.40,0.39,0.50,3.0,1.0,0.0,0.0,8.0
Abdel Nader,24.0,48.0,522.0,0.34,0.35,0.32,0.41,0.59,71.0,26.0,15.0,10.0,146.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zach Collins,20.0,66.0,1045.0,0.40,0.31,0.46,0.46,0.64,221.0,52.0,17.0,31.0,292.0
Zach LaVine,22.0,24.0,656.0,0.38,0.34,0.40,0.44,0.81,94.0,72.0,24.0,4.0,401.0
Zach Randolph,36.0,59.0,1508.0,0.47,0.35,0.50,0.51,0.78,397.0,127.0,42.0,10.0,857.0
Zaza Pachulia,33.0,69.0,972.0,0.56,0.00,0.57,0.56,0.81,321.0,109.0,38.0,17.0,373.0
Zhou Qi,22.0,18.0,124.0,0.19,0.10,0.31,0.22,0.67,22.0,2.0,2.0,14.0,22.0

In [17]:
# export clean salary csv
stats_final_df.to_csv("clean-data/stats_clean.csv",index=True, header = True)

Create Extra Merged Dataframes

Stats + Salary df

In [28]:
# merge stats and salary on player_name
stats_salary_df=pd.merge(salary_final_df, stats_final_df, on="player_name")
stats_salary_df

,player_name,salary,age,games_played,minutes_played,field_goal_percent,three_point_percent,two_point_percent,effective_field_goal,free_throw_percent,total_rebounds,assist,steal,blocking,points
0,Stephen Curry,34682550.0,29.0,51.000000,1631.000000,0.495000,0.423,0.595,0.618,0.921000,261.000000,310.000000,80.000000,8.0,1346.0
1,LeBron James,33285709.0,33.0,82.000000,3026.000000,0.542000,0.367,0.603,0.590,0.731000,709.000000,747.000000,116.000000,71.0,2251.0
2,Paul Millsap,31269231.0,32.0,38.000000,1143.000000,0.464000,0.345,0.506,0.509,0.696000,245.000000,105.000000,39.000000,44.0,555.0
3,Blake Griffin,29512900.0,28.0,38.666667,1313.333333,0.437333,0.345,0.481,0.493,0.784667,285.333333,222.666667,27.333333,12.0,828.0
4,Kyle Lowry,28703704.0,31.0,78.000000,2510.000000,0.427000,0.399,0.474,0.553,0.854000,434.000000,537.000000,85.000000,19.0,1267.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448,Vander Blue,50000.0,25.0,5.000000,45.000000,0.200000,0.000,0.333,0.200,0.500000,1.000000,3.000000,1.000000,0.0,3.0
449,Jamil Wilson,50000.0,27.0,15.000000,274.000000,0.469000,0.429,0.611,0.636,0.500000,32.000000,10.000000,5.000000,8.0,105.0
450,Gian Clavell,50000.0,24.0,7.000000,64.000000,0.333000,0.400,0.000,0.500,1.000000,7.000000,3.000000,2.000000,0.0,20.0
451,Rodney Purvis,46080.0,23.0,16.000000,290.000000,0.327000,0.250,0.400,0.388,0.867000,27.000000,17.000000,3.000000,3.0,96.0
452,Xavier Rathan-Mayes,46080.0,23.0,5.000000,118.000000,0.286000,0.071,0.393,0.298,0.444000,5.000000,18.000000,6.000000,3.0,29.0

In [32]:
stats_salary_df.index.name="index"
stats_salary_df

,player_name,salary,age,games_played,minutes_played,field_goal_percent,three_point_percent,two_point_percent,effective_field_goal,free_throw_percent,total_rebounds,assist,steal,blocking,points
index,,,,,,,,,,,,,,,
0,Stephen Curry,34682550.0,29.0,51.000000,1631.000000,0.495000,0.423,0.595,0.618,0.921000,261.000000,310.000000,80.000000,8.0,1346.0
1,LeBron James,33285709.0,33.0,82.000000,3026.000000,0.542000,0.367,0.603,0.590,0.731000,709.000000,747.000000,116.000000,71.0,2251.0
2,Paul Millsap,31269231.0,32.0,38.000000,1143.000000,0.464000,0.345,0.506,0.509,0.696000,245.000000,105.000000,39.000000,44.0,555.0
3,Blake Griffin,29512900.0,28.0,38.666667,1313.333333,0.437333,0.345,0.481,0.493,0.784667,285.333333,222.666667,27.333333,12.0,828.0
4,Kyle Lowry,28703704.0,31.0,78.000000,2510.000000,0.427000,0.399,0.474,0.553,0.854000,434.000000,537.000000,85.000000,19.0,1267.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448,Vander Blue,50000.0,25.0,5.000000,45.000000,0.200000,0.000,0.333,0.200,0.500000,1.000000,3.000000,1.000000,0.0,3.0
449,Jamil Wilson,50000.0,27.0,15.000000,274.000000,0.469000,0.429,0.611,0.636,0.500000,32.000000,10.000000,5.000000,8.0,105.0
450,Gian Clavell,50000.0,24.0,7.000000,64.000000,0.333000,0.400,0.000,0.500,1.000000,7.000000,3.000000,2.000000,0.0,20.0
451,Rodney Purvis,46080.0,23.0,16.000000,290.000000,0.327000,0.250,0.400,0.388,0.867000,27.000000,17.000000,3.000000,3.0,96.0
452,Xavier Rathan-Mayes,46080.0,23.0,5.000000,118.000000,0.286000,0.071,0.393,0.298,0.444000,5.000000,18.000000,6.000000,3.0,29.0

In [33]:
# export stats/salary csv
stats_salary_df.to_csv("clean-data/stats_and_salary.csv",index=True, header = True)