In [1]:
# dependencies
import pandas as pd

Cleaning Data

Clean Salary Data

In [2]:
# read in salary csv
salary_df=pd.read_csv("raw-data/player_salary.csv")
salary_df

     Unnamed: 0          Player   Tm  season17_18
0             1   Stephen Curry  GSW   34682550.0
1             2    LeBron James  CLE   33285709.0
2             3    Paul Millsap  DEN   31269231.0
3             4  Gordon Hayward  BOS   29727900.0
4             5   Blake Griffin  DET   29512900.0
..          ...             ...  ...          ...
568         569      Quinn Cook  NOP      25000.0
569         570   Chris Johnson  HOU      25000.0
570         571      Beno Udrih  DET      25000.0
571         572   Joel Bolomboy  MIL      22248.0
572         573    Jarell Eddie  CHI      17224.0

[573 rows x 4 columns]

In [3]:
# check data types
salary_df.dtypes

Unnamed: 0       int64
Player          object
Tm              object
season17_18    float64
dtype: object

In [4]:
# drop null values
salary_df.dropna(inplace=True)

In [5]:
# drop Unnamed:0 & Tm columns
salary_columns = ["Player","season17_18"]
salary_clean_df = salary_df[salary_columns].copy()
salary_clean_df

             Player  season17_18
0     Stephen Curry   34682550.0
1      LeBron James   33285709.0
2      Paul Millsap   31269231.0
3    Gordon Hayward   29727900.0
4     Blake Griffin   29512900.0
..              ...          ...
568      Quinn Cook      25000.0
569   Chris Johnson      25000.0
570      Beno Udrih      25000.0
571   Joel Bolomboy      22248.0
572    Jarell Eddie      17224.0

[573 rows x 2 columns]

In [6]:
# rename columns
salary_final_df = salary_clean_df.rename(columns={"Player": "player_name",
                                                  "season17_18": "salary"
                                                 })
salary_final_df

        player_name      salary
0     Stephen Curry  34682550.0
1      LeBron James  33285709.0
2      Paul Millsap  31269231.0
3    Gordon Hayward  29727900.0
4     Blake Griffin  29512900.0
..              ...         ...
568      Quinn Cook     25000.0
569   Chris Johnson     25000.0
570      Beno Udrih     25000.0
571   Joel Bolomboy     22248.0
572    Jarell Eddie     17224.0

[573 rows x 2 columns]

In [7]:
# export clean salary csv
salary_final_df.to_csv("clean-data/salary_clean.csv",index=True, header = True)

Clean Stats Data

In [8]:
# read in stats csv
stats_df = pd.read_csv("raw-data/player_stats.csv")
stats_df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Alex Abrines/abrinal01,SG,24,OKC,75,8,1134,115,291,...,0.848,26,88,114,28,38,8,25,124,353
1,2,Quincy Acy/acyqu01,PF,27,BRK,70,8,1359,130,365,...,0.817,40,217,257,57,33,29,60,149,411
2,3,Steven Adams/adamsst01,C,24,OKC,76,76,2487,448,712,...,0.559,384,301,685,88,92,78,128,215,1056
3,4,Bam Adebayo/adebaba01,C,20,MIA,69,19,1368,174,340,...,0.721,118,263,381,101,32,41,66,138,477
4,5,Arron Afflalo/afflaar01,SG,32,ORL,53,3,682,65,162,...,0.846,4,62,66,30,4,9,21,56,179
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
659,537,Tyler Zeller/zellety01,C,28,BRK,42,33,703,125,229,...,0.667,63,131,194,28,8,21,35,78,300
660,537,Tyler Zeller/zellety01,C,28,MIL,24,1,406,62,105,...,0.895,47,64,111,19,7,14,12,48,141
661,538,Paul Zipser/zipsepa01,SF,23,CHI,54,12,824,81,234,...,0.760,13,118,131,46,20,15,43,86,218
662,539,Ante Zizic/zizican01,C,21,CLE,32,2,214,49,67,...,0.724,24,36,60,5,2,13,11,30,119
663,540,Ivica Zubac/zubaciv01,C,20,LAL,43,0,410,61,122,...,0.765,45,78,123,25,8,15,26,47,161

In [9]:
# check data types
stats_df.dtypes

Rk          int64
Player     object
Pos        object
Age         int64
Tm         object
G           int64
GS          int64
MP          int64
FG          int64
FGA         int64
FG%       float64
3P          int64
3PA         int64
3P%       float64
2P          int64
2PA         int64
2P%       float64
eFG%      float64
FT          int64
FTA         int64
FT%       float64
ORB         int64
DRB         int64
TRB         int64
AST         int64
STL         int64
BLK         int64
TOV         int64
PF          int64
PTS         int64
dtype: object

In [10]:
# drop null columns 
stats_df.dropna(inplace=True)

In [11]:
# split player name column 
stats_df[['player_name','player_name2']]=stats_df['Player'].str.split("/",expand=True)
stats_df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,player_name,player_name2
0,1,Alex Abrines/abrinal01,SG,24,OKC,75,8,1134,115,291,...,88,114,28,38,8,25,124,353,Alex Abrines,abrinal01
1,2,Quincy Acy/acyqu01,PF,27,BRK,70,8,1359,130,365,...,217,257,57,33,29,60,149,411,Quincy Acy,acyqu01
2,3,Steven Adams/adamsst01,C,24,OKC,76,76,2487,448,712,...,301,685,88,92,78,128,215,1056,Steven Adams,adamsst01
3,4,Bam Adebayo/adebaba01,C,20,MIA,69,19,1368,174,340,...,263,381,101,32,41,66,138,477,Bam Adebayo,adebaba01
4,5,Arron Afflalo/afflaar01,SG,32,ORL,53,3,682,65,162,...,62,66,30,4,9,21,56,179,Arron Afflalo,afflaar01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,537,Tyler Zeller/zellety01,C,28,TOT,66,34,1109,187,334,...,195,305,47,15,35,47,126,441,Tyler Zeller,zellety01
659,537,Tyler Zeller/zellety01,C,28,BRK,42,33,703,125,229,...,131,194,28,8,21,35,78,300,Tyler Zeller,zellety01
660,537,Tyler Zeller/zellety01,C,28,MIL,24,1,406,62,105,...,64,111,19,7,14,12,48,141,Tyler Zeller,zellety01
661,538,Paul Zipser/zipsepa01,SF,23,CHI,54,12,824,81,234,...,118,131,46,20,15,43,86,218,Paul Zipser,zipsepa01
663,540,Ivica Zubac/zubaciv01,C,20,LAL,43,0,410,61,122,...,78,123,25,8,15,26,47,161,Ivica Zubac,zubaciv01

In [12]:
# select only necessary columns
stats_columns = ["player_name","Pos","Age", "Tm","G","MP","FG%","3P%","2P%","eFG%","FT%","TRB","AST","STL","BLK","PTS"]
stats_clean_df = stats_df[stats_columns].copy()
stats_clean_df

,player_name,Pos,Age,Tm,G,MP,FG%,3P%,2P%,eFG%,FT%,TRB,AST,STL,BLK,PTS
0,Alex Abrines,SG,24,OKC,75,1134,0.395,0.380,0.443,0.540,0.848,114,28,38,8,353
1,Quincy Acy,PF,27,BRK,70,1359,0.356,0.349,0.384,0.496,0.817,257,57,33,29,411
2,Steven Adams,C,24,OKC,76,2487,0.629,0.000,0.631,0.629,0.559,685,88,92,78,1056
3,Bam Adebayo,C,20,MIA,69,1368,0.512,0.000,0.523,0.512,0.721,381,101,32,41,477
4,Arron Afflalo,SG,32,ORL,53,682,0.401,0.386,0.413,0.485,0.846,66,30,4,9,179
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,Tyler Zeller,C,28,TOT,66,1109,0.560,0.357,0.578,0.575,0.722,305,47,15,35,441
659,Tyler Zeller,C,28,BRK,42,703,0.546,0.385,0.567,0.568,0.667,194,28,8,21,300
660,Tyler Zeller,C,28,MIL,24,406,0.590,0.000,0.602,0.590,0.895,111,19,7,14,141
661,Paul Zipser,SF,23,CHI,54,824,0.346,0.336,0.355,0.425,0.760,131,46,20,15,218
663,Ivica Zubac,C,20,LAL,43,410,0.500,0.000,0.504,0.500,0.765,123,25,8,15,161

In [13]:
# remove duplicate players
stats_grouped = stats_clean_df.groupby(['player_name'])
stats_final_df = stats_grouped.mean()
stats_final_df

,Age,G,MP,FG%,3P%,2P%,eFG%,FT%,TRB,AST,STL,BLK,PTS
player_name,,,,,,,,,,,,,
Aaron Brooks,33.0,32.0,189.0,0.406,0.355,0.447,0.486,0.727,17.0,20.0,6.0,0.0,75.0
Aaron Gordon,22.0,58.0,1909.0,0.434,0.336,0.497,0.500,0.698,457.0,136.0,59.0,45.0,1022.0
Aaron Harrison,23.0,9.0,233.0,0.275,0.209,0.385,0.341,0.765,24.0,11.0,9.0,2.0,60.0
Aaron Jackson,31.0,1.0,35.0,0.333,0.250,0.400,0.389,0.500,3.0,1.0,0.0,0.0,8.0
Abdel Nader,24.0,48.0,522.0,0.336,0.354,0.321,0.413,0.590,71.0,26.0,15.0,10.0,146.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zach Collins,20.0,66.0,1045.0,0.398,0.310,0.455,0.458,0.643,221.0,52.0,17.0,31.0,292.0
Zach LaVine,22.0,24.0,656.0,0.383,0.341,0.405,0.442,0.813,94.0,72.0,24.0,4.0,401.0
Zach Randolph,36.0,59.0,1508.0,0.473,0.347,0.503,0.507,0.785,397.0,127.0,42.0,10.0,857.0
Zaza Pachulia,33.0,69.0,972.0,0.564,0.000,0.567,0.564,0.806,321.0,109.0,38.0,17.0,373.0
Zhou Qi,22.0,18.0,124.0,0.188,0.105,0.308,0.219,0.667,22.0,2.0,2.0,14.0,22.0

In [14]:
# rename columns
stats_final_df = stats_final_df.rename(columns={
                                                  "Age":"age",
                                                  "G":"games_played",
                                                  "MP": "minutes_played",
                                                  "FG%": "field_goal_percent",
                                                  "3P%": "three_point_percent",
                                                  "2P%": "two_point_percent",
                                                  "FT%":"free_throw_percent",
                                                  "eFG%":"effective_field_goal",
                                                  "TRB": "total_rebounds",
                                                  "AST": "assist",
                                                  "STL": "steal",
                                                  "BLK": "blocking",
                                                  "PTS": "points"
                                                 })
stats_final_df

,age,games_played,minutes_played,field_goal_percent,three_point_percent,two_point_percent,effective_field_goal,free_throw_percent,total_rebounds,assist,steal,blocking,points
player_name,,,,,,,,,,,,,
Aaron Brooks,33.0,32.0,189.0,0.406,0.355,0.447,0.486,0.727,17.0,20.0,6.0,0.0,75.0
Aaron Gordon,22.0,58.0,1909.0,0.434,0.336,0.497,0.500,0.698,457.0,136.0,59.0,45.0,1022.0
Aaron Harrison,23.0,9.0,233.0,0.275,0.209,0.385,0.341,0.765,24.0,11.0,9.0,2.0,60.0
Aaron Jackson,31.0,1.0,35.0,0.333,0.250,0.400,0.389,0.500,3.0,1.0,0.0,0.0,8.0
Abdel Nader,24.0,48.0,522.0,0.336,0.354,0.321,0.413,0.590,71.0,26.0,15.0,10.0,146.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zach Collins,20.0,66.0,1045.0,0.398,0.310,0.455,0.458,0.643,221.0,52.0,17.0,31.0,292.0
Zach LaVine,22.0,24.0,656.0,0.383,0.341,0.405,0.442,0.813,94.0,72.0,24.0,4.0,401.0
Zach Randolph,36.0,59.0,1508.0,0.473,0.347,0.503,0.507,0.785,397.0,127.0,42.0,10.0,857.0
Zaza Pachulia,33.0,69.0,972.0,0.564,0.000,0.567,0.564,0.806,321.0,109.0,38.0,17.0,373.0
Zhou Qi,22.0,18.0,124.0,0.188,0.105,0.308,0.219,0.667,22.0,2.0,2.0,14.0,22.0

In [15]:
# round to two decimal places
stats_final_df.round(2)

,age,games_played,minutes_played,field_goal_percent,three_point_percent,two_point_percent,effective_field_goal,free_throw_percent,total_rebounds,assist,steal,blocking,points
player_name,,,,,,,,,,,,,
Aaron Brooks,33.0,32.0,189.0,0.406,0.355,0.447,0.486,0.727,17.0,20.0,6.0,0.0,75.0
Aaron Gordon,22.0,58.0,1909.0,0.434,0.336,0.497,0.500,0.698,457.0,136.0,59.0,45.0,1022.0
Aaron Harrison,23.0,9.0,233.0,0.275,0.209,0.385,0.341,0.765,24.0,11.0,9.0,2.0,60.0
Aaron Jackson,31.0,1.0,35.0,0.333,0.250,0.400,0.389,0.500,3.0,1.0,0.0,0.0,8.0
Abdel Nader,24.0,48.0,522.0,0.336,0.354,0.321,0.413,0.590,71.0,26.0,15.0,10.0,146.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zach Collins,20.0,66.0,1045.0,0.398,0.310,0.455,0.458,0.643,221.0,52.0,17.0,31.0,292.0
Zach LaVine,22.0,24.0,656.0,0.383,0.341,0.405,0.442,0.813,94.0,72.0,24.0,4.0,401.0
Zach Randolph,36.0,59.0,1508.0,0.473,0.347,0.503,0.507,0.785,397.0,127.0,42.0,10.0,857.0
Zaza Pachulia,33.0,69.0,972.0,0.564,0.000,0.567,0.564,0.806,321.0,109.0,38.0,17.0,373.0
Zhou Qi,22.0,18.0,124.0,0.188,0.105,0.308,0.219,0.667,22.0,2.0,2.0,14.0,22.0

In [16]:
# export clean salary csv
stats_final_df.to_csv("clean-data/stats_clean.csv",index=True, header = True)

Clean Record Data

In [17]:
# resd in team record csv
record_df = pd.read_csv("raw-data/team_records.csv")
record_df

,Season,Lg,Team,W,L,W/L%,Finish,SRS,Pace,Rel_Pace,ORtg,Rel_ORtg,DRtg,Rel_DRtg,Playoffs,Coaches,Top WS
0,2017-18,NBA,Boston Celtics,29,10,0.744,1,4.38,95.4,-1.7,108.0,0.2,102.8,-5.0,NaN,B. Stevens (29-10),K. Irving (5.7)
1,2016-17,NBA,Boston Celtics*,53,29,0.646,1,2.25,96.8,0.4,111.2,2.4,108.4,-0.4,Lost E. Conf. Finals,B. Stevens (53-29),I. Thomas (12.5)
2,2015-16,NBA,Boston Celtics*,48,34,0.585,2,2.84,98.5,2.7,106.8,0.4,103.6,-2.8,Lost E. Conf. 1st Rnd.,B. Stevens (48-34),I. Thomas (9.7)
3,2014-15,NBA,Boston Celtics*,40,42,0.488,2,-0.40,95.8,1.9,104.7,-0.9,104.5,-1.1,Lost E. Conf. 1st Rnd.,B. Stevens (40-42),T. Zeller (6.5)
4,2013-14,NBA,Boston Celtics,25,57,0.305,4,-4.97,93.3,-0.6,102.9,-3.8,107.7,1.0,NaN,B. Stevens (25-57),B. Bass (5.1)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1478,1999-00,NBA,Vancouver Grizzlies,22,60,0.268,7,-5.10,91.0,-2.1,102.3,-1.8,108.5,4.4,NaN,B. Hill (4-18) L. Hollins (18-42),S. Abdur-Rahim (8.8)
1479,1998-99,NBA,Vancouver Grizzlies,8,42,0.160,7,-8.94,89.0,0.1,98.4,-3.8,107.9,5.7,NaN,B. Hill (8-42),S. Abdur-Rahim (4.6)
1480,1997-98,NBA,Vancouver Grizzlies,19,63,0.232,6,-7.47,92.1,1.8,104.1,-0.9,112.0,7.0,NaN,B. Hill (19-63),S. Abdur-Rahim (6.9)
1481,1996-97,NBA,Vancouver Grizzlies,14,68,0.171,7,-10.17,88.4,-1.7,100.3,-6.4,111.8,5.1,NaN,B. Winters (8-35) S. Jackson (6-33),G. Anthony (3.5)
1482,1995-96,NBA,Vancouver Grizzlies,15,67,0.183,7,-9.55,91.0,-0.8,97.6,-10.0,108.5,0.9,NaN,B. Winters (15-67),G. Anthony (4.8)

In [18]:
# check data
record_df.dtypes

Season       object
Lg           object
Team         object
W             int64
L             int64
W/L%        float64
Finish        int64
SRS         float64
Pace        float64
Rel_Pace    float64
ORtg        float64
Rel_ORtg    float64
DRtg        float64
Rel_DRtg    float64
Playoffs     object
Coaches      object
Top WS       object
dtype: object

In [19]:
# select only 2017-18 season to match salary and stats data
season=['2017-18']
record1718_df=record_df[record_df["Season"].isin(season)]
record1718_df

,Season,Lg,Team,W,L,W/L%,Finish,SRS,Pace,Rel_Pace,ORtg,Rel_ORtg,DRtg,Rel_DRtg,Playoffs,Coaches,Top WS
0,2017-18,NBA,Boston Celtics,29,10,0.744,1,4.38,95.4,-1.7,108.0,0.2,102.8,-5.0,NaN,B. Stevens (29-10),K. Irving (5.7)
72,2017-18,NBA,Toronto Raptors,24,10,0.706,2,7.07,98.1,1.0,112.8,5.0,104.8,-3.0,NaN,D. Casey (24-10),D. DeRozan (4.7)
95,2017-18,NBA,New York Knicks,17,18,0.486,3,-0.19,96.0,-1.1,107.6,-0.2,107.7,-0.1,NaN,J. Hornacek (17-18),E. Kanter (3.7)
167,2017-18,NBA,Philadelphia 76ers,15,19,0.441,4,-0.08,100.8,3.7,105.8,-2.0,106.8,-1.0,NaN,B. Brown (15-19),J. Embiid (2.6)
236,2017-18,NBA,Brooklyn Nets,13,22,0.371,5,-2.73,100.5,3.4,106.7,-1.1,109.2,1.4,NaN,K. Atkinson (13-22),S. Dinwiddie (2.9)
287,2017-18,NBA,Minnesota Timberwolves,22,14,0.611,1,1.23,95.6,-1.5,112.6,4.8,110.6,2.8,NaN,T. Thibodeau (22-14),K. Towns (5.2)
316,2017-18,NBA,Oklahoma City Thunder,20,16,0.556,2,3.38,94.9,-2.2,107.6,-0.2,104.3,-3.5,NaN,B. Donovan (20-16),S. Adams (4.5)
367,2017-18,NBA,Denver Nuggets,19,16,0.543,3,1.53,96.3,-0.8,110.5,2.7,108.9,1.1,NaN,M. Malone (19-16),N. Jokic (3.8)
418,2017-18,NBA,Portland Trail Blazers,18,16,0.529,4,0.79,96.6,-0.5,105.3,-2.5,103.8,-4.0,NaN,T. Stotts (18-16),D. Lillard (4.6)
466,2017-18,NBA,Utah Jazz,15,21,0.417,5,0.53,94.9,-2.2,106.3,-1.5,106.8,-1.0,NaN,Q. Snyder (15-21),D. Favors (3.0)
510,2017-18,NBA,Cleveland Cavaliers,24,11,0.686,1,1.74,96.5,-0.6,113.9,6.1,110.9,3.1,NaN,T. Lue (24-11),L. James (7.1)
558,2017-18,NBA,Detroit Pistons,19,15,0.559,2,0.77,95.6,-1.5,107.2,-0.6,106.4,-1.4,NaN,S. Van Gundy (19-15),A. Drummond (4.4)
628,2017-18,NBA,Milwaukee Bucks,19,15,0.559,2,-0.54,95.6,-1.5,109.4,1.6,109.8,2.0,NaN,J. Kidd (19-15),G. Antetokounmpo (6.2)
678,2017-18,NBA,Indiana Pacers,19,17,0.528,4,0.52,97.0,-0.1,110.1,2.3,109.7,1.9,NaN,N. McMillan (19-17),V. Oladipo (3.8)
729,2017-18,NBA,Chicago Bulls,13,22,0.371,5,-5.40,97.5,0.4,102.2,-5.6,107.9,0.1,NaN,F. Hoiberg (13-22),J. Grant (2.0)
781,2017-18,NBA,Golden State Warriors,28,8,0.778,1,9.38,100.1,3.0,113.7,5.9,104.0,-3.8,NaN,S. Kerr (28-8),K. Durant (4.5)
853,2017-18,NBA,Los Angeles Clippers,15,19,0.441,2,-1.00,96.8,-0.3,108.6,0.8,109.1,1.3,NaN,D. Rivers (15-19),D. Jordan (4.2)
901,2017-18,NBA,Phoenix Suns,14,23,0.378,3,-6.96,100.4,3.3,105.0,-2.8,111.3,3.5,NaN,E. Watson (0-3) J. Triano (14-20),A. Len (2.3)
951,2017-18,NBA,Sacramento Kings,12,23,0.343,4,-8.02,94.2,-2.9,102.7,-5.1,111.7,3.9,NaN,D. Joerger (12-23),Z. Randolph (1.7)
1021,2017-18,NBA,Los Angeles Lakers,11,23,0.324,5,-3.15,101.7,4.6,103.3,-4.5,107.0,-0.8,NaN,L. Walton (11-23),K. Kuzma (2.4)
1091,2017-18,NBA,Washington Wizards,20,16,0.556,1,1.64,97.2,0.1,108.5,0.7,106.3,-1.5,NaN,S. Brooks (20-16),O. Porter (4.0)
1148,2017-18,NBA,Miami Heat,18,17,0.514,2,-1.97,95.1,-2.0,104.7,-3.1,106.8,-1.0,NaN,E. Spoelstra (18-17),W. Ellington (2.2)
1178,2017-18,NBA,Charlotte Hornets,13,22,0.371,3,-0.65,98.6,1.5,105.3,-2.5,107.1,-0.7,NaN,S. Clifford (13-22),K. Walker (3.4)
1206,2017-18,NBA,Orlando Magic,12,24,0.333,4,-5.21,99.7,2.6,104.8,-3.0,110.2,2.4,NaN,F. Vogel (12-24),N. Vucevic (2.8)
1235,2017-18,NBA,Atlanta Hawks,9,26,0.257,5,-4.47,97.1,0.0,106.7,-1.1,111.4,3.6,NaN,M. Budenholzer (9-26),J. Collins (2.3)
1304,2017-18,NBA,Houston Rockets,25,9,0.735,1,8.21,99.2,2.1,115.2,7.4,106.7,-1.1,NaN,M. D'Antoni (25-9),J. Harden (7.8)
1355,2017-18,NBA,San Antonio Spurs,25,11,0.694,2,3.03,94.5,-2.6,107.7,-0.1,104.0,-3.8,NaN,G. Popovich (25-11),L. Aldridge (5.0)
1406,2017-18,NBA,New Orleans Pelicans,18,17,0.514,3,0.33,99.8,2.7,110.6,2.8,110.6,2.8,NaN,A. Gentry (18-17),A. Davis (5.5)
1422,2017-18,NBA,Dallas Mavericks,12,25,0.324,4,-1.59,95.0,-2.1,105.6,-2.2,108.2,0.4,NaN,R. Carlisle (12-25),D. Nowitzki (2.4)
1460,2017-18,NBA,Memphis Grizzlies,11,24,0.314,5,-2.62,93.0,-4.1,104.5,-3.3,108.5,0.7,NaN,D. Fizdale (7-12) J. Bickerstaff (4-12),T. Evans (3.6)

In [20]:
# make sure no teams are repeated
teams=record1718_df['Team'].unique()

print(teams)

['Boston Celtics' 'Toronto Raptors' 'New York Knicks' 'Philadelphia 76ers'
 'Brooklyn Nets' 'Minnesota Timberwolves' 'Oklahoma City Thunder'
 'Denver Nuggets' 'Portland Trail Blazers' 'Utah Jazz'
 'Cleveland Cavaliers' 'Detroit Pistons' 'Milwaukee Bucks'
 'Indiana Pacers' 'Chicago Bulls' 'Golden State Warriors'
 'Los Angeles Clippers' 'Phoenix Suns' 'Sacramento Kings'
 'Los Angeles Lakers' 'Washington Wizards' 'Miami Heat'
 'Charlotte Hornets' 'Orlando Magic' 'Atlanta Hawks' 'Houston Rockets'
 'San Antonio Spurs' 'New Orleans Pelicans' 'Dallas Mavericks'
 'Memphis Grizzlies']

In [21]:
# select only necessary columns
record_columns = ["Team","W/L%","Finish"]
record_clean_df = record1718_df[record_columns].copy()
record_clean_df

                        Team   W/L%  Finish
0             Boston Celtics  0.744       1
72           Toronto Raptors  0.706       2
95           New York Knicks  0.486       3
167       Philadelphia 76ers  0.441       4
236            Brooklyn Nets  0.371       5
287   Minnesota Timberwolves  0.611       1
316    Oklahoma City Thunder  0.556       2
367           Denver Nuggets  0.543       3
418   Portland Trail Blazers  0.529       4
466                Utah Jazz  0.417       5
510      Cleveland Cavaliers  0.686       1
558          Detroit Pistons  0.559       2
628          Milwaukee Bucks  0.559       2
678           Indiana Pacers  0.528       4
729            Chicago Bulls  0.371       5
781    Golden State Warriors  0.778       1
853     Los Angeles Clippers  0.441       2
901             Phoenix Suns  0.378       3
951         Sacramento Kings  0.343       4
1021      Los Angeles Lakers  0.324       5
1091      Washington Wizards  0.556       1
1148              Miami Heat  0.514       2
1178       Charlotte Hornets  0.371       3
1206           Orlando Magic  0.333       4
1235           Atlanta Hawks  0.257       5
1304         Houston Rockets  0.735       1
1355       San Antonio Spurs  0.694       2
1406    New Orleans Pelicans  0.514       3
1422        Dallas Mavericks  0.324       4
1460       Memphis Grizzlies  0.314       5

In [22]:
# add team abbreviation key
team_df = pd.read_csv("raw-data/team_key.csv")
team_df

                      Team   Tm
0            Atlanta Hawks  ATL
1           Boston Celtics  BOS
2            Brooklyn Nets  BRK
3        Charlotte Hornets  CHO
4            Chicago Bulls  CHI
5      Cleveland Cavaliers  CLE
6         Dallas Mavericks  DAL
7           Denver Nuggets  DEN
8          Detroit Pistons  DET
9    Golden State Warriors  GSW
10         Houston Rockets  HOU
11          Indiana Pacers  IND
12    Los Angeles Clippers  LAC
13      Los Angeles Lakers  LAL
14       Memphis Grizzlies  MEM
15              Miami Heat  MIA
16         Milwaukee Bucks  MIL
17  Minnesota Timberwolves  MIN
18    New Orleans Pelicans  NOP
19         New York Knicks  NYK
20   Oklahoma City Thunder  OKC
21           Orlando Magic  ORL
22      Philadelphia 76ers  PHI
23            Phoenix Suns  PHO
24  Portland Trail Blazers  POR
25        Sacramento Kings  SAC
26       San Antonio Spurs  SAS
27         Toronto Raptors  TOR
28               Utah Jazz  UTA
29      Washington Wizards  WAS

In [23]:
# merge dfs to add abbreviation
team_combined_df=pd.merge(record_clean_df, team_df, on="Team")
team_combined_df

                      Team   W/L%  Finish   Tm
0           Boston Celtics  0.744       1  BOS
1          Toronto Raptors  0.706       2  TOR
2          New York Knicks  0.486       3  NYK
3       Philadelphia 76ers  0.441       4  PHI
4            Brooklyn Nets  0.371       5  BRK
5   Minnesota Timberwolves  0.611       1  MIN
6    Oklahoma City Thunder  0.556       2  OKC
7           Denver Nuggets  0.543       3  DEN
8   Portland Trail Blazers  0.529       4  POR
9                Utah Jazz  0.417       5  UTA
10     Cleveland Cavaliers  0.686       1  CLE
11         Detroit Pistons  0.559       2  DET
12         Milwaukee Bucks  0.559       2  MIL
13          Indiana Pacers  0.528       4  IND
14           Chicago Bulls  0.371       5  CHI
15   Golden State Warriors  0.778       1  GSW
16    Los Angeles Clippers  0.441       2  LAC
17            Phoenix Suns  0.378       3  PHO
18        Sacramento Kings  0.343       4  SAC
19      Los Angeles Lakers  0.324       5  LAL
20      Washington Wizards  0.556       1  WAS
21              Miami Heat  0.514       2  MIA
22       Charlotte Hornets  0.371       3  CHO
23           Orlando Magic  0.333       4  ORL
24           Atlanta Hawks  0.257       5  ATL
25         Houston Rockets  0.735       1  HOU
26       San Antonio Spurs  0.694       2  SAS
27    New Orleans Pelicans  0.514       3  NOP
28        Dallas Mavericks  0.324       4  DAL
29       Memphis Grizzlies  0.314       5  MEM

In [24]:
# create final df with only necessary columns, using abbreviation
record_final_df = team_combined_df[['Tm', 'W/L%', 'Finish']].copy()
record_final_df

     Tm   W/L%  Finish
0   BOS  0.744       1
1   TOR  0.706       2
2   NYK  0.486       3
3   PHI  0.441       4
4   BRK  0.371       5
5   MIN  0.611       1
6   OKC  0.556       2
7   DEN  0.543       3
8   POR  0.529       4
9   UTA  0.417       5
10  CLE  0.686       1
11  DET  0.559       2
12  MIL  0.559       2
13  IND  0.528       4
14  CHI  0.371       5
15  GSW  0.778       1
16  LAC  0.441       2
17  PHO  0.378       3
18  SAC  0.343       4
19  LAL  0.324       5
20  WAS  0.556       1
21  MIA  0.514       2
22  CHO  0.371       3
23  ORL  0.333       4
24  ATL  0.257       5
25  HOU  0.735       1
26  SAS  0.694       2
27  NOP  0.514       3
28  DAL  0.324       4
29  MEM  0.314       5

In [25]:
# rename columns
record_final_df = record_final_df.rename(columns={"Tm": "team",
                                                  "W/L%": "win-loss-percent",
                                                  "Finish":"finish"
                                                 })
record_final_df

   team  win-loss-percent  finish
0   BOS             0.744       1
1   TOR             0.706       2
2   NYK             0.486       3
3   PHI             0.441       4
4   BRK             0.371       5
5   MIN             0.611       1
6   OKC             0.556       2
7   DEN             0.543       3
8   POR             0.529       4
9   UTA             0.417       5
10  CLE             0.686       1
11  DET             0.559       2
12  MIL             0.559       2
13  IND             0.528       4
14  CHI             0.371       5
15  GSW             0.778       1
16  LAC             0.441       2
17  PHO             0.378       3
18  SAC             0.343       4
19  LAL             0.324       5
20  WAS             0.556       1
21  MIA             0.514       2
22  CHO             0.371       3
23  ORL             0.333       4
24  ATL             0.257       5
25  HOU             0.735       1
26  SAS             0.694       2
27  NOP             0.514       3
28  DAL             0.324       4
29  MEM             0.314       5

In [26]:
# export record df
record_final_df.to_csv("clean-data/record_clean.csv",index=True, header = True)

Create Extra Merged Dataframes

Stats + Salary df

In [27]:
# merge stats and salary on player_name
stats_salary_df=pd.merge(salary_final_df, stats_final_df, on="player_name")
stats_salary_df

,player_name,salary,age,games_played,minutes_played,field_goal_percent,three_point_percent,two_point_percent,effective_field_goal,free_throw_percent,total_rebounds,assist,steal,blocking,points
0,Stephen Curry,34682550.0,29.0,51.000000,1631.000000,0.495000,0.423,0.595,0.618,0.921000,261.000000,310.000000,80.000000,8.0,1346.0
1,LeBron James,33285709.0,33.0,82.000000,3026.000000,0.542000,0.367,0.603,0.590,0.731000,709.000000,747.000000,116.000000,71.0,2251.0
2,Paul Millsap,31269231.0,32.0,38.000000,1143.000000,0.464000,0.345,0.506,0.509,0.696000,245.000000,105.000000,39.000000,44.0,555.0
3,Blake Griffin,29512900.0,28.0,38.666667,1313.333333,0.437333,0.345,0.481,0.493,0.784667,285.333333,222.666667,27.333333,12.0,828.0
4,Kyle Lowry,28703704.0,31.0,78.000000,2510.000000,0.427000,0.399,0.474,0.553,0.854000,434.000000,537.000000,85.000000,19.0,1267.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448,Vander Blue,50000.0,25.0,5.000000,45.000000,0.200000,0.000,0.333,0.200,0.500000,1.000000,3.000000,1.000000,0.0,3.0
449,Jamil Wilson,50000.0,27.0,15.000000,274.000000,0.469000,0.429,0.611,0.636,0.500000,32.000000,10.000000,5.000000,8.0,105.0
450,Gian Clavell,50000.0,24.0,7.000000,64.000000,0.333000,0.400,0.000,0.500,1.000000,7.000000,3.000000,2.000000,0.0,20.0
451,Rodney Purvis,46080.0,23.0,16.000000,290.000000,0.327000,0.250,0.400,0.388,0.867000,27.000000,17.000000,3.000000,3.0,96.0
452,Xavier Rathan-Mayes,46080.0,23.0,5.000000,118.000000,0.286000,0.071,0.393,0.298,0.444000,5.000000,18.000000,6.000000,3.0,29.0

In [28]:
# export stats/salary csv
stats_salary_df.to_csv("clean-data/stats_and_salary.csv",index=True, header = True)